
body{
    padding: 0px;
    margin: 0px;
}
.control_span{
    padding: 5px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 0px;
    margin: 0px;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.65rem, 2vw, 1.85rem);
    padding: 0px;
    margin: 0px;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.45rem, 2vw, 1.60rem);
    padding: 0px;
    margin: 0px;
}
h3{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    padding: 0px;
    margin: 0px;
}
h4{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.15rem, 2vw, 1.25rem);
    padding: 0px;
    margin: 0px;
}
