


:root {
    --half_transparent_white: rgba(255, 238, 219, 0.5);
    --transparent_white: rgba(255, 238, 219, 0.25);
    --transparent_rose: rgba(165, 56, 96, 0.25);
    --transparent_violet: rgba(76, 59, 77, 0.40);
    --white: #FFEEDB;
    --violet: #4C3B4D;
    --rose: #A53860;
    --quartz: #ADA8B6;
    --mint :#61C9A8;
}


body{
    background-color: var(--white);
    padding: 0px;
    margin: 0px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 0px;
    margin: 0px;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.35rem, 2vw, 1.45rem);
    padding: 0px;
    margin: 0px;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.25rem, 2vw, 1.40rem);
    padding: 0px;
    margin: 0px;
}
h3{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    padding: 0px;
    margin: 0px;
}
h4{
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1.15rem, 2vw, 1.25rem);
    padding: 0px;
    margin: 0px;
}
